.stacklite {
    font-size: 80px;
    color:darkblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.submit-button { 
    width: 150px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border-radius: 8px;
    margin-left: 210px;
    /* margin-top: 40px; */
    margin-top: -20px;
}

.login-container {
    width: 600px;
    height: 450px;
    border-color: darkblue !important;
    border: 2px solid;
}

.login {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}